<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contrato de Adhesión</title>
    <style>
        body {
            font-family: Calibri, Arial, sans-serif;
            margin: 40px;
            line-height: 1.5;
            color: #000;
            background-color: #fff;
        }
        #Entrada{
            text-align: center;
            margin-bottom: 100px;
            font-size: 70px
        }
        h2 {
            
            margin-bottom: 1em;
            text-transform: uppercase;
            font-size: 1.3rem;               
        }
        .titulo{
            text-align: center;
            font-weight: bold;             /* Negrilla */
            text-decoration: underline;    /* Subrayado */
            
        }

        .contrato-numero {
            font-weight: bold;
            margin-bottom: 1.5em;
            font-size: 1.1em;
        }
        
        .clausula {
            margin-top: 1.5em;
            font-weight: bold;
            text-transform: uppercase;
        }
        .Bienvenido{
           
            font-family: Calibri, Arial, sans-serif; 
            font-size: 26px;
        }
        p{
            font-family: Calibri, Arial, sans-serif; 
            font-size: 18px;
            text-align: justify;
            
 
}
li{
    font-family: Calibri, Arial, sans-serif; 
            font-size: 18px;
            text-align: justify;
}
strong {
    font-weight: bold;
}
.subrayado-negrita {
    font-weight: bold;
  text-decoration: underline;
  white-space: nowrap;
}
      
        
    </style>
</head>
<body>
    <!--/////////////////////////////Bienvenida///////////////////////////////////////////////-->
    <!--/////////////////////////////Bienvenida///////////////////////////////////////////////-->
    
        <h1 id="Entrada" >¡Bienvenido!</h1>
    
        <p class="Bienvenido">
            Gracias por tomar esta excelente decisión. A partir del día de hoy, se ha hecho acreedor como 
            SOCIO-CLIENTE de una (01) suscripción, bajo el código:&nbsp; <u><strong>{Contrato}</strong></u>&nbsp;, para disfrutar de los servicios y beneficios
             de la empresa <strong>KEMPERY WORLD TRAVEL</strong>&nbsp; estipulados dentro del contrato signado con la anterior nomenclatura.
        </p>
    
        <p class="Bienvenido">
            El departamento de reservas y atención al cliente se encargará de realizar sus pedidos mediante los siguientes medios:
        </p>
    
        <ul>
            <li class="Bienvenido">Correo electrónico: <u>info.kemperyworld@gmail.com</u></li>
            <li class="Bienvenido">Números telefónicos:<strong>099-997-7562 – 099-922-2210</strong></li>
            <li class="Bienvenido">Oficinas físicas: <u><strong>Av. De la República E2-214 y Rumipamba, edificio SIGNATURE, oficina número 202, Quito, Ecuador</strong></u></li>
        </ul>
                    <div style="page-break-before: always;"></div>
    <!--/////////////////////////////CONTRATO///////////////////////////////////////////////-->
    <!--/////////////////////////////CONTRATO///////////////////////////////////////////////-->
    <u><strong><h2 class="titulo">Contrato de Adhesión de Prestación de Servicios Turísticos bajo la modalidad “Plan Suscripción”</h2></strong></u>

    <strong><h2>CONTRATO NÚMERO: <span>{Contrato}</span></h2></strong>

    <p>
        Comparecen a la celebración del contrato por una parte el ciudadano  
        <strong>EDGAR</strong> <strong>DAVID</strong> <strong>SÁNCHEZ</strong> <strong>CACHIMUEL</strong>, mayor de edad identificado con <strong>C.C. 171529871-5</strong> con capacidad legal de contratar, 
        siendo Gerente General actuando en nombre y representación de <strong>KEMPERY</strong> <strong>WORLD</strong> <strong>TRAVEL,</strong> por su condición de dignatario representante Legal bajo constitución de compañía,  
        debidamente inscrita en Ecuador con número de <strong>RUC:  1793200154001</strong> quien para efectos de contrato se denominara <strong>“LA EMPRESA”,</strong>&nbsp;&nbsp;
        el cual se regirá bajo la legislación ecuatoriana con las siguientes cláusulas por una parte y por
         <span class="subrayado-negrita"> {Nombre}{Apellido}</span>,
        cédula de identidad número <u><strong>{Cedula},</strong></u>  con capacidad legal para este acto quien para efectos del presente contrato 
        se denominará <strong>“EL CONTRATANTE”</strong> capaces de celebrar todo tipo de acto y contrato.
    </p>
    <p>
        {Clausula1}
        Es el dar una suscripción  a los servicios de turismo operadas por <strong>KEMPERY WORLD TRAVEL,</strong>&nbsp;sociedad constituida en Ecuador 
        con domicilio en la ciudad de Quito y bajo la leyes ecuatorianas,  cuyo objeto social es la prestación de servicios turísticos de forma 
        directa o a través de operadores; quien tiene contratos con ciertos hoteles  y demás prestadores de servicios turísticos a  nivel nacional 
        e internacional, sitios de descanso, lugares de esparcimiento familiar ubicados fuera del casco urbano, así como encargarse del turismo 
        inmobiliario. 
    </p>
    <p> Por tal virtud, la compañía se obliga a prestar el servicio de suscripción al afiliado.</p>


    <p>
        {Clausula2}
        Es quien, a partir de esta fecha, acepta y reconoce sus obligaciones, a fin de conducirse conforme a las reglas de la Compañía, 
        establecidas para prestar los servicios a sus afiliados y por tanto forma parte integral de este Contrato quien a su vez se obliga 
        a pagar como contraprestación un precio en dinero por este servicio.
    </p>
    <p>
        Una vez aprobada la solicitud por el <strong>CLIENTE</strong>, en base a los antecedentes económicos, declarados y proporcionados a él; quien de manera 
        libre y voluntaria expresa y declara que se somete al presente contrato, y manifiesta dar cumplimiento económico y tener la capacidad 
        de pago acordada.
    </p>


    <p>
        {Clausula3}
        La vigencia del presente Contrato es de <strong>{Anio}</strong>  <strong>AÑOS,</strong>  contados a partir de la fecha en que la COMPAÑÍA suscriba en su sistema los datos necesarios para la afiliación y se emita la SUSCRIPCIÓN que identifique al AFILIADO como parte del mismo. 
        
        
    </p>
    <p class="pagina" style="text-align: left; font-size: 18px; margin-top: 40px; ">Página 1 de 4</p>
    <div style="page-break-before: always;"></div>


    <p>
        Dentro de los treinta días previos a la terminación de la vigencia de este Contrato, la COMPAÑIA contactará al AFILIADO vía correo&nbsp;&nbsp; 
        electrónico o vía telefónica, para que acuda a firmar un contrato acordando tiempo de vigencia, así como a pagar el valor del mismo. 
        En caso de no hacerlo, cumplida la vigencia de este Contrato, se dará por terminado automáticamente.
    </p>







<p>
    {Clausula4}
    La COMPAÑÍA se obliga por medio de este contrato a otorgar al AFILIADO/CLIENTE los siguientes beneficios, los cuales podrán ser utilizados&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
    por éste durante el tiempo de vigencia de su suscripción (los valores podrán variar de acuerdo a la tasa de inflación del país):
</p>

<ol>
    <li>Recibir información precisa sobre ofertas y descuentos turísticos, paquetes de viajes, entre otros servicios referentes al 
        área turística.</li>

    <li>Ofertar el servicio de gestión para cruceros, resorts todo incluido, hoteles, boletos de avión, renta de autos, golf, paquetes 
        vacacionales, entre otros.</li>
        
    
    <li>
        Descuentos, precios preferenciales, promociones en servicios de agencias de viaje:
        <ul>
            <li><strong>Tickets de Avión:</strong>En este rubro Garantizamos el precio más bajo del mercado y la eliminación del Fee de emisión, 
                con todas las aerolíneas disponibles a nivel nacional e internacional.</li>

            <li><strong>Hoteles:</strong>En este concepto disponemos de más de 200,000 hoteles alrededor del mundo, y avalamos el precio más bajo 
                del mercado, con una tarifa de hasta el 50% más baja de las tarifas al público. Precios sujetos a comparación por parte del 
                cliente, siempre que sea el mismo servicio y la calidad.</li>

            <li><strong>Transfers:</strong> Las tarifas más bajas de internet en este producto, con un ahorro de hasta 20%; además aplica 
                nuestra garantía de precio.</li>

            <li><strong>Renta de Auto:</strong>La tarifa más baja del mercado, con un ahorro de hasta el 20% y de igual manera que en traslados 
                se procede en su aplicación de la Garantía del mejor precio.</li>

            <li><strong>Cruceros:</strong>En este caso por regulación de las compañías de cruceros los precios no pueden ser distintos. Por lo 
                tanto, se ofrecerá como beneficio la tarifa más baja del mercado.</li>

            <li><strong>Paquetes de Vacaciones:</strong>Conforme a nuestras promesas de precios, en este servicio le ofrecemos las tarifas más 
                bajas del mercado, con descuentos de hasta el 30%. Nuestra política de garantía de precios de hoteles se aplica a estos paquetes. 
                Si los paquetes son aquellos ofrecidos por otras empresas del sector turístico y no están en nuestro sistema, le ofrecemos un 
                descuento del 10% debajo de los precios que le ofrece cualquier agencia sobre el costo de los servicios terrestres, esto debido 
                a que las demás compañías tienen una ganancia en comisiones en estos servicios.</li>

            <li><strong>Seguros de viaje:</strong> trámites y obtención de seguro de viaje de acuerdo a sus necesidades, con distintas empresas 
                de seguro a nivel internacional. Asimismo, estos tienen apertura para realizar trámites de visa de turismo en Europa 
                (los cuales son obligatorios). Este seguro de viajes será contratado a nombre del afiliado, quien cubrirá el valor total y todo 
                pago que genere.</li>

            <li><strong>Asesoría gratuita en visado:</strong> (Canadiense, Americano, Mexicano, Australiano y Schengen.)</li>

            <li>El tiempo de anticipación de reserva será de 15 días para temporadas consideradas altas y de 72 horas para temporadas 
                consideradas bajas.</li>
            
            <li>Activación de Programa Anual de 05 Noches para 06 personas, previo pago de uso de instalaciones y limpieza, el cual tendrá un 
                costo de $59,50 al momento de su reserva (Por noche), uso exclusivo para los departamentos que brinda la compañía; las noches 
                adicionales tendrán un valor de $99,00 en temporadas consideradas bajas (cada una) y $149,00 en temporadas consideradas altas 
                (cada una); estas últimas no podrán ser comercializadas.
            </li>
             
            <li>Servicios de atención disponibles los 365 días del año en los horarios establecidos por la compañía.</li>

            <li>Los servicios ofrecidos por la compañía serán <strong>ilimitados</strong> durante la vigencia del contrato, tanto a nivel 
                <strong>nacional como internacional</strong>, sujeto a disponibilidad.</li>          
        </ul>
    </li>
</ol>

<p>
    {Clausula5}
    La compañía maneja una garantía de mejor precio para servicios turísticos en <strong>cruceros, transfers, renta de autos y seguros de viajes</strong>, 
    que consiste en que si el cliente encuentra un mejor precio al ofrecido por la compañía, se le igualará, 
    siempre que sea para la <strong>misma fecha, los mismos días y la misma calidad de servicio</strong>.
</p>


<p>
    {SemanasI}
    Son alojamientos en más de <strong>6,500 Resorts</strong>, en apartamentos de 1, 2 y 3 dormitorios, 
    en selectos destinos turísticos, y en más de <strong>250,000 Hoteles alrededor del mundo</strong>. 
    Para ello se ofrecen las siguientes alternativas:
</p>

<ul>
    <li>
        <strong>KEMPER WEEK ONE:</strong> Semanas de alojamiento en Resorts o Complejos Vacacionales para <strong>2 a 6 personas</strong>, 
        con precios desde <strong>$599,00 hasta $999,00</strong> por unidad. 
        Aplica para cualquier parte del mundo donde el inventario disponga disponibilidad. 
        Deben ser solicitadas con un mínimo de <strong>72 horas de anticipación</strong>.
    </li>

    <li>
        <strong>KEMPER WEEK TWO:</strong> Semanas de alojamiento en Resorts o Complejos Vacacionales para <strong>2 a 6 personas</strong>, 
        con precios desde <strong>$499,00 hasta $599,00</strong> por unidad. 
        Aplica a nivel mundial donde haya disponibilidad. 
        Deben ser solicitadas con al menos <strong>90 días de anticipación</strong>.
    </li>

    <li>
        <strong>KEMPER WEEK CLASSIC:</strong> Alojamiento para <strong>2 a 6 personas</strong> a un precio de <strong>$399,00 o menos</strong>. 
        Puede incluir menos noches que las anteriores. 
        Requiere una <strong>reserva mínima de 15 días de anticipación</strong>. 
        Aplica principalmente en <strong>Orlando, Cancún y gran parte del Caribe</strong>.
    </li>
</ul>
<p class="pagina" style="text-align: right; font-size: 12px; margin-top: 30px;">Página 2 de 4</p>
<p class="clausula">SERVICIOS DE IMPORTACIÓN Y EXPORTACIÓN</p>
<p>
    EL CLIENTE tendrá asesoría con respecto a importación y exportación de productos de manera nacional e internacional, 
    brindándole la tarifa más baja del mercado; asimismo, tendrá acompañamiento y seguimiento durante el proceso.
</p>
<!--
<p class="clausula">CLÁUSULA QUINTA - VALOR DE CUOTA ADMINISTRATIVA</p>
<p>
    Se fija como valor único de gastos administrativos la cantidad de <strong>$250,00 (USD)</strong>, monto que incluye el Impuesto al Valor Agregado (IVA), 
    causado en términos de Ley, valor que el AFILIADO debe pagar al momento de firmar este Contrato. Este valor comprende la emisión de un 
    “<strong>SERVICIO DE SUSCRIPCIÓN</strong>”, el cual acredita al AFILIADO como miembro de la COMPAÑÍA. 
    Dicho pago se realizará por única vez, y <strong>no es reembolsable</strong> por ningún concepto.
</p>

<p class="clausula">CLÁUSULA SEXTA - VALOR DE SUSCRIPCIÓN</p>
<p>
    El precio pactado entre las partes es de <strong>$450,00</strong>.
</p>
<p>
    <strong>VALOR TOTAL:</strong> $700,00; incluido IVA. Pagaderos de la siguiente forma: 
    <strong>con tarjeta de crédito Mastercard del Banco del Pacífico, modalidad corriente</strong>. 
    Dejando constancia que el valor de la cuota administrativa se encuentra incluida dentro del valor total.
</p>

<p class="clausula">CLÁUSULA SÉPTIMA - OBLIGACIONES DEL CLIENTE</p>
<ol>
    <li>
        El pago de la Suscripción deberá ser cancelado en su totalidad al momento de la firma del Contrato. 
        En su defecto, los beneficios o servicios podrán ser utilizados cancelando el 60% del valor total del contrato.
    </li>
    <li>
        Pagar los valores por concepto de este contrato para recibir los beneficios y derechos que otorga la suscripción, 
        de acuerdo a las modalidades previstas. La modalidad de pago establecida puede ser modificada por acuerdo de las partes, 
        por medio de un documento escrito.
    </li>
    <li>
        Los beneficios en concepto de la suscripción adquirida son personales y transferibles hasta el tercer grado de consanguineidad, 
        para terceras personas, siempre y cuando se cuente con autorización expresa del CLIENTE y aprobación por parte de la EMPRESA.
    </li>
    <li>
        No hacer uso diferente a la suscripción contratada que lo establecido en el presente contrato. 
        El incumplimiento puede ser tomado como causal de terminación del contrato, 
        y se iniciarán las acciones legales correspondientes por daños y perjuicios.
    </li>
    <li>
        Pagar el valor íntegro de la SUSCRIPCIÓN o de las demás obligaciones dentro del cumplimiento de este contrato. 
        Todos los pagos que se efectúen con retraso se aplicarán primero a gastos administrativos y, por tanto, 
        se mantendrá suspendido el servicio contratado.
    </li>
    <li>
        El cliente entiende que los ofrecimientos verbales no tienen ningún tipo de validez, 
        solo los estipulados en este contrato. LA EMPRESA no se hace responsable por ofrecimientos 
        que no estén por escrito dentro del mismo.
    </li>
</ol>

<p class="clausula">CLÁUSULA DÉCIMA PRIMERA: SUSPENSIÓN DE EFECTOS DEL CONTRATO.</p>
<p>
Si el CLIENTE incumpliere su obligación de pagar los valores, se suspenderá todos los servicios y beneficios del contrato hasta que se cumplan con dichas obligaciones. Si se mantiene esta situación de incumplimiento se retendrá los valores pagados a título de indemnización de perjuicios como consecuencia del incumplimiento y se suspende todos los beneficios al titular de la suscripción.
</p>

<p class="clausula">CLÁUSULA DÉCIMA SEGUNDA: INCUMPLIMIENTO Y TERMINACIÓN ANTICIPADA</p>
<p>
El presente contrato podrá terminar anticipadamente por las siguientes causas:
</p>
<ol>
  <li>Si EL CLIENTE cede, transfiere, revende o negocia los servicios o derechos derivados del presente CONTRATO a favor de terceros, sin el consentimiento escrito previo de la compañía.</li>
  <li>El incumplimiento por parte de EL CLIENTE de cualquiera de las obligaciones a su cargo contenidas en el presente contrato y sus Anexos.</li>
  <li>Si EL CLIENTE llega a proporcionar información falsa referente a los servicios solicitados por la compañía y que no se rectifique dentro de las 72 horas siguientes al pedido de aclaración de la empresa.</li>
  <li>Uso del servicio con fines ilícitos; extracontractuales; que atentan la honra e intimidad; y cualquier otra forma de finalidad delictiva.</li>
  <li>En caso de incumplimiento por parte de la empresa, dentro de las primeras 72 horas, luego de la firma del presente contrato, EL CLIENTE puede acceder a una terminación anticipada, aceptando que serán descontados los valores correspondientes al gasto administrativo, reflejados en la CLAUSULA QUINTA y el restante será devengado por EL CLIENTE en servicios turísticos. Bajo ningún concepto habrá devolución monetaria.</li>
</ol>

<p class="clausula">CLÁUSULA DÉCIMA TERCERA- DERECHO APLICABLE PARA LA INTERPRETACIÓN CUMPLIMIENTO O EJECUCIÓN DEL PRESENTE CONTRATO</p>
<p>
Las partes acuerdan someterse a las leyes aplicables en la República del Ecuador.
</p>

<p class="clausula">CLÁUSULA DÉCIMA CUARTA- JURISDICCIÓN Y CONTROVERSIA</p>
<p>
Para solución de conflicto o controversias derivadas a la ejecución del presente contrato las partes renuncian a fuero y aceptan someterse a métodos alternativos de solución de controversias específicamente a la mediación y arbitraje, el presente arbitraje será en derecho para lo cual se solicitará al centro de arbitraje de la cámara de comercio de Quito se nombrará a un tribunal conformado por 02 árbitros, el arbitraje será cancelado íntegra y únicamente por la parte solicitante para lo cual acudirán al centro de mediación y arbitraje de la Cámara de Comercio de Quito o someterse al trámite que las partes crean convenientes.
</p>

<p>
<strong>Para constancia de lo acordado, las partes firman por duplicado el presente contrato en la ciudad de Cuenca, a los 28 días del mes de Junio del año 2025.</strong>
</p>





<div style="text-align: center; margin-bottom: 20px;">
    <img src="{imagen_empresa}" alt="Logo de la Empresa" style="width: 500px;" />
</div>














<p style="font-family: Arial, sans-serif; margin-top: 50px;">
    <strong>EL TITULAR</strong><br>
    <span style="display: block; text-align: right;">JOSE ALBERTO GUADAMUD ROLDÁN</span>
    <span style="display: block; text-align: right;">CI: 130967320-8</span>
  </p>
  
</body>
</html>
-->